body {
  background-color: mintcream;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid darkgreen 20px;
  margin: 50px;
  padding: 50px;
  margin: 50px;
}

.header {
  font-size: 30px;
  font-weight: 30px;
  color: darkgreen;
}

section {
  padding: 20px;
  margin: 20px;
}

#experience-list {
  background-color: pink;
  padding: 25px;
  margin: 5px 0;
  border-radius: 50px;
}

a {
  background-color: lightblue;
}

h1 {
  text-align: center;
  color: darkblue;
  font-size: 45px;
}