body {
  background-color: mintcream;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid darkgreen 20px;
  margin: 50px;
  padding: 50px;
  margin: 50px;
}

h1 {
  text-align: center;
  color: darkblue;
  font-size: 45px;
}

p {
  margin: 10px;
}

a {
  background-color: lightblue;
  font-size: 20px;
}

section {
  padding: 20px;
  margin: 20px;
}

.header {
  font-size: 30px;
  font-weight: 30px;
  color: darkgreen;
}

.title-date {
  display: flex;
  justify-content: space-between;
}

.job-title {
  font-weight: bold;
}

.description {
  font-style: italic;
  margin-top: 0;
}

.experience-item {
  margin-bottom: 50px;
}

.job-title {
  font-weight: bold;
  font-size: 1.2em;
}

.date {
  font-size: 1em;
  color: gray;
}

#experience-list {
  background-color: pink;
  padding: 25px;
  border-radius: 50px;
}

#connect > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: lightgreen;
  padding: 2.5em;
}
