h1 {
  text-align: center;
  color: darkblue;
  font-size: 45px;
}

body {
  background-color: mintcream;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid darkgreen 20px;
  margin: 50px;
  padding: 50px;
  margin: 50px;
}

.header {
  font-size: 30px;
  font-weight: 30px;
  color: darkgreen;
}

section {
  padding: 20px;
  margin: 20px;
}

#experience-list {
  background-color: pink;
  padding: 25px;
  margin: 5px 0;
  border-radius: 50px;
  flex-direction: column;
}

.job-title {
  font-weight: bold;
  margin: 15px 5px;
}

.date {
  text-align: right;
}

.description {
  font-style: italic;
}

a {
  background-color: lightblue;
  font-size: 20px;
}
